{% extends 'orders/header.html' %}

{% block content %}
<div class="container">
    <div class="content my-5">
        <div class="card shadow-lg rounded-0 border-0">
            <div class="card-body p-5">
                <div class="row justify-content-center mb-4">
                    <h3 class="text-center text-primary font-weight-bold"><u>Detail Kontak Kami</u></h3>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6 offset-md-3">
                        <div class="contact-box text-center p-3 mb-3 border rounded shadow-sm">
                            <i class="fa fa-phone fa-2x mb-2 text-success"></i>
                            <p class="font-weight-bold mb-1">Telepon Kami:</p>
                            <p>+628 9123 4567 89</p>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6 offset-md-3">
                        <div class="contact-box text-center p-3 mb-3 border rounded shadow-sm">
                            <i class="fa fa-envelope fa-2x mb-2 text-danger"></i>
                            <p class="font-weight-bold mb-1">Email Kami:</p>
                            <p><a href="mailto:info@xyzshop.com" class="text-decoration-none">info@xyzshop.com</a></p>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6 offset-md-3">
                        <div class="contact-box text-center p-3 mb-3 border rounded shadow-sm">
                            <i class="fa fa-twitter fa-2x mb-2 text-info"></i>
                            <p class="font-weight-bold mb-1">Temukan Kami di Twitter:</p>
                            <p><a href="https://twitter.com/XYZShop" class="text-decoration-none" target="_blank">@XYZShop</a></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div class="contact-box text-center p-3 mb-3 border rounded shadow-sm">
                            <i class="fa fa-instagram fa-2x mb-2 text-warning"></i>
                            <p class="font-weight-bold mb-1">Ikuti Kami di Instagram:</p>
                            <p><a href="https://instagram.com/XYZShop" class="text-decoration-none" target="_blank">@XYZShop</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
